/* @tailwind base;
@tailwind components;
@tailwind utilities;

@import 'additional-styles/utils.css' */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  color: #000;

  /* Bold/H1 Heading */
  font-family: IBM Plex Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
}

p {
  color: #000;
  /* Body/Base text */
  font-family: IBM Plex Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

section p:first-of-type {
  color: #000;
  padding-bottom: 20px;
  padding-top: 20px;

  /* Lead/Text - Regular */
  font-family: IBM Plex Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
}

main {

}

main > section {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.note-preview {
  display: none;
  grid-column: span 2;
  max-width: 400px;
  border-radius: 0.375rem; /* rounded */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-sm */
  padding: 1.25rem; /* p-5 */
  background-color: white;
  cursor: pointer;
  font-size: 1.125rem; /* text-lg */
  transition: background-color 0.3s, border-color 0.3s;
}
.preview-link {
  position: relative;
  display: inline-block;
}

.note-preview {
  display: none;
  position: absolute;
  top: 100%; /* Позиционируем превью ниже ссылки */
  left: 0;
  z-index: 10; /* Убедитесь, что превью будет поверх других элементов */
  /* Дополнительные стили для превью (цвета, отступы, тени и т.д.) */
}

.preview-link:hover .note-preview {
  display: block;
}

.search-box {
  background: rgba(255, 255, 255, 0.724);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 100;
}

.search-container {
  max-width: 800px;
  margin: 0 auto;
}

.minh80 {
  min-height: 60vh;
}

a > div {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.card-preview-text {
  font-size: 16px;
  line-height: 120%;
  color: #68717A;
}

.indexing-list {
  width: 300px;
}

.post-preview-text {
  color: #000;
}